.header {
  grid-column: center-start / center-end;
  grid-row: 1 / 2;

  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;

  @media only screen and (max-width: $bp-small) {
    grid-column: 1 / -1;
  }
}

.community {
  grid-column: col-start 2 / col-end 9;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 5rem 0;

  //   @media only screen and (max-width: $bp-small) {
  //     display: none;
  //   }
  @media only screen and (max-width: $bp-small) {
    grid-column: 1 / -1;
  }

  h3 {
    grid-column: 1 / -1;
    margin-bottom: 0.5rem;
  }
  &__text {
    grid-column: 2 / 6;
    margin-bottom: 3rem;
  }

  &__button {
    grid-column: 3 / 5;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  img {
    grid-column: 2 / 6;
    width: 100%;
  }

  &__data {
    grid-column: 2 / 6;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 5rem;

    .data {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      &__user {
        font-size: 7rem;
        font-weight: 900;
        grid-column: 2 / 4;
      }
      img {
        width: 5rem;
        grid-column: 2 / 4;
      }

      &__text {
        grid-column: 2 / 4;
      }
    }
  }
}

.section-layout {
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: repeat(8, 1fr);

  @media only screen and (max-width: $bp-small) {
    grid-column: 1 / -1;
  }

  &__details {
    padding: 1rem 3rem;
    grid-column: 2 / 8;
    border: 1px solid red;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 10rem;
  }

  &__content {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__picture {
    img {
      width: 80%;
    }
  }
  .section-bg--1 {
    grid-column: 1 / -1;
    background-color: #fff;

    img {
      width: 100%;
      margin-bottom: -1rem;
    }
  }

  .section-bg--2 {
    grid-column: 1 / -1;
    background-color: #fff;
    img {
      width: 100%;
    }
  }
}

.build {
  grid-column: col-start 2 / col-end 9;

  display: grid;
  grid-template-columns: repeat(6, 1fr);

  h3 {
    grid-column: 1 / -1;
    margin-bottom: 0.5rem;
  }

  &__button {
    grid-column: 3 / 5;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

.footer {
  grid-column: full-start / full-end;
  background-color: $color-cyan;

  &__bg {
    background-color: #fff;
    img {
      width: 100%;
    }
  }

  &__huddle {
    path {
      fill: #fff;
    }
  }
}
